@model Review

@*The viewModel didnt do the job, maye the modelbinding doesnt work?*@
    @*<form asp-action="Checkout" method="post">
        <h4> Your review </h4>
        <div>
            <input asp-for="@Model.ReviewForm.PieId" type="hidden" />
        </div>
        <div>
            <label asp-for="@Model.ReviewForm.ReviewText">Write your text here:</label>
            <input asp-for="@Model.ReviewForm.ReviewText" />
        </div>
        <div>
            <label asp-for="@Model.ReviewForm.Stars">Star the Cake (1-5)</label>
            <input asp-for="@Model.ReviewForm.Stars" />
        </div>
        <div>
            <input type="submit" value="Complete Review" />
        </div>
    </form>*@

    <form asp-action="Checkout" method="post">
        <h4> Your review </h4>
        <div>
            <input asp-for="PieId" value="@ViewBag.PieId" type="hidden" />
        </div>
        <div>
            <label asp-for="ReviewText">Write your text here:</label>
            <input asp-for="ReviewText" />
        </div>
        <div>
            <label asp-for="Stars">Star the Cake (1-5)</label>
            <input asp-for="Stars" />
        </div>
        <div>
            <input type="submit" value="Complete Review" />
        </div>
    </form>